test/xsd/base64.xsd

<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:here="http://example.org/" targetNamespace="http://example.org/">
  <simpleType name="myType1">
    <restriction base="base64Binary">
      <length value="10" />
    </restriction>
  </simpleType>

  <complexType name="myType2">
    <simpleContent>
      <extension base="base64Binary">
        <attribute name="length" type="int"/>
      </extension>
    </simpleContent>
  </complexType>

  <complexType name="myType3">
    <simpleContent>
      <extension base="date">
        <attribute name="length" type="int"/>
      </extension>
    </simpleContent>
  </complexType>

  <complexType name="myType4">
    <sequence>
      <element name="title" type="string"/>
      <element name="blob" type="base64Binary"/>
      <element name="timestamp" type="dateTime"/>
    </sequence>
  </complexType>

  <simpleType name="myType5">
    <restriction base="gDay"/>
  </simpleType>

  <complexType name="MyType6">
    <attribute name="code">
      <simpleType>
        <restriction base="string">
          <enumeration value="value1"/>
          <enumeration value="value2"/>
        </restriction>
      </simpleType>
    </attribute>
    <attribute name="identifier" type="int"/>
  </complexType>

  <complexType name="MyType7">
    <simpleContent>
      <extension base="string">
        <attribute type="string" name="origin" use="required"/>
      </extension>
    </simpleContent>
  </complexType>

  <complexType name="MyType8">
    <sequence maxOccurs="unbounded">
      <element name="title" type="here:myType4" />
    </sequence>
  </complexType>

  <complexType name="MyType9">
    <sequence maxOccurs="2">
      <element name="title" type="here:myType4" />
    </sequence>
  </complexType>

  <complexType name="MyType10">
    <sequence maxOccurs="1">
      <element name="title" type="here:myType4" />
    </sequence>
  </complexType>

  <element name="TopLevel">
    <complexType>
      <complexContent>
        <extension base="here:MyType6">
          <sequence>
            <element name="nested" type="here:MyType7" minOccurs="0" maxOccurs="1" />
            <choice minOccurs="0" maxOccurs="unbounded">
              <element name="myType1" type="here:myType1" />
              <element name="myType2" type="here:myType2" />
            </choice>
          </sequence>
          <attribute name="cost" type="double"/>
          <attribute name="LastUpdated" type="dateTime"/>
        </extension>
      </complexContent>
    </complexType>
  </element>
</schema>